# Compiled class file
*.class

# Log file
*.log

# Package Files
target/
*.jar
*.war
*.ear

# Maven
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.DS_Store

# OS
.DS_Store
Thumbs.db